.input {
    width: 100%;

    padding: 10px 20px 10px 5px;

    border: none;
    border-radius: 5px;

    background: #2F2F2F;

    color: #fff;
    caret-color: #fff;
}

.input:focus {
    outline: #808080 2px solid;
}

.input::placeholder {
    color: #808080;
    font-weight: 500;
}